<div class="container">
  <h3>Typing Challenge</h3>
  <p class="random-text">
    <span
      *ngFor="let letter of randomText.split(''); let i = index"
      [class]="compare(letter, userInput[i])"
      >{{ letter }}</span
    >
  </p>
  <input type="text" class="typing-input" (keyup)="getUserInput($event)" />

  <h5 *ngIf="winner">🎉 You Win! 🎉</h5>
  <!-- <button (click)="reset()" *ngIf="winner">Play again?</button> -->
  <button onClick="window.location.reload();" *ngIf="winner">
    Play again?
  </button>
</div>
